@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");

html,
body {
  height: 100%;
  overflow: hidden;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300vh;
}

.floor-1 {
  scroll-margin-top: 0;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
}

/*----------------------------floor3-----------------------------------*/
.floor3 {
  position: relative;
  width: 1920px;
  height: 980px;
  margin: 0 auto;
}

.floor3 .img-flex-3 {
  width: 1920px;
  height: 980px;
  background-image: url(/3floor/dip3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.floor3 .down2{
  background: url('img/arr_bottom.png'); width: 74px; height: 69px; cursor: pointer;
}

/*----------------------ligth------------------------------*/
.floor3 .L-click {
  text-align: center;
  position: absolute;
  top: 295px;
  left: 0;
  width: 285px;
  height: 480px;
  overflow: hidden;
}
.hoverboxL,
.hoverboxR {
  width: 285px;
  height: 480px;
}
.lightContainer3 {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.lightHolder3 {
  width: 130px;
  height: 137px;
  position: absolute;
  top: 6px;
  left: 76px;
  display: inline-block;
}

.wallSpot3 {
  display: none;
  content: "";
  width: 60%;
  height: 79%;
  position: absolute;
  top: -48.5px;
  left: 50%;
  transform: translate(-50%, 0%) perspective(44px) rotateX(81deg);
  background: radial-gradient(
    ellipse at top,
    rgb(255, 255, 255) 20%,
    rgba(255, 255, 255, 1) 53%,
    rgba(0, 0, 0, 0) 64.5%,
    rgba(0, 0, 0, 0) 81%
  );
}

.mainLight3:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, 0);
}

.mainLight3 {
  content: "";
  width: 17%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 15px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1),
    0 0 40px rgba(255, 255, 255, 1), 0 0 50px rgba(255, 255, 255, 1);
}

.L-click:hover,
.R-click:hover {
  cursor: pointer;
}

/*---------------------------------------------------------------------*/

.floor3 .R-click {
  text-align: center;
  position: absolute;
  top: 295px;
  right: 0;
  width: 285px;
  height: 480px;
  overflow: hidden;
}

.R-click .lightHolder3 {
  width: 130px;
  height: 137px;
  position: absolute;
  top: 6px;
  left: 78px;
  display: inline-block;
}

/*-----------------------------floor2----------------------------------*/
.floor2-3 {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.floor2-3 .img {
  width: 1920px;
  height: 800px;
  background-image: url(/2-3floor.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

/*-------------------------------------*/
.lightContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.lightHolder {
  width: 130px;
  height: 137px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.wallSpot {
  display: none;
  content: "";
  width: 40%;
  height: 75%;
  position: absolute;
  top: -48.5px;
  left: 50%;
  transform: translate(-50%, 0%) perspective(44px) rotateX(81deg);
  background: radial-gradient(
    ellipse at top,
    rgb(255, 255, 255) 20%,
    rgba(255, 255, 255, 1) 59%,
    rgba(0, 0, 0, 0) 64.5%,
    rgba(0, 0, 0, 0) 81%
  );
}

.mainLight:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, 0);

  background: linear-gradient(
    110deg,
    rgba(215, 214, 219, 1) 0%,
    rgba(102, 111, 126, 1) 42%,
    rgba(251, 246, 246, 1) 45%,
    rgba(251, 246, 246, 1) 46%,
    rgba(171, 175, 186, 1) 53%,
    rgb(102, 111, 126, 1) 55%,
    rgb(171, 175, 186, 1) 59%,
    rgb(102, 111, 126, 1) 90%
  );
}

.mainLight {
  content: "";
  width: 17%;
  height: 1.3%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 15px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1),
    0 0 40px rgba(255, 255, 255, 1), 0 0 50px rgba(255, 255, 255, 1);
}

.floor2 {
  position: relative;
  width: 1920px;
  height: 980px;
  margin: 0 auto;
}

.floor2 .img-flex-2 {
  width: 1920px;
  height: 980px;
  background-image: url(/2floor/dip2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.floor2 .up-down .up2{background: url('img/arr_top.png'); width: 74px; height: 70px; cursor: pointer;}
.floor2 .up-down .down1{background: url('img/arr_bottom.png'); width: 74px; height: 69px; cursor: pointer;}


.floor2 .L-up1 {
  position: absolute;
  top: 167px;
  left: 110px;
  display: flex;
  flex-direction: column;
  height: 231px;
  justify-content: flex-end;
  overflow: hidden;
}

.floor2 .L-up1 .hover-light {
  margin-bottom: -148px;
  border-radius: 100px 100px 0 0;
  opacity: 0;
  height: 190px;
}

.floor2 .L-up2 {
  position: absolute;
  top: 179px;
  left: 300px;
  display: flex;
  height: 222px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.floor2 .L-up2 .hover-light {
  border-radius: 100px 100px 0 0;
  height: 184px;
  opacity: 0;
  margin-bottom: -150px;
}

.L-down .L-down1 {
  position: absolute;
  top: 439px;
  left: 50px;
  display: flex;
  flex-direction: column;
  height: 265px;
  justify-content: flex-end;
  overflow: hidden;
}

.L-down .L-down1 .hover-light {
  margin-bottom: -140px;
  opacity: 0;
}

.L-down .L-down2 {
  position: absolute;
  top: 438px;
  left: 210px;
  display: flex;
  flex-direction: column;
  height: 255px;
  justify-content: flex-end;
  overflow: hidden;
}

.L-down .L-down2 .hover-light {
  margin-bottom: -150px;
  opacity: 0;
}

.L-down .L-down3 {
  position: absolute;
  top: 437px;
  left: 369px;
  display: flex;
  flex-direction: column;
  height: 247px;
  justify-content: flex-end;
  overflow: hidden;
}

.L-down .L-down3 img {
  width: 125px;
}

.R-img .R-img1 {
  position: absolute;
  top: 181px;
  right: 386px;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: flex-end;
  overflow: hidden;
}

.R-img .R-img1 .lightHolder,
.R-img .R-img3 .lightHolder {
  width: 110px;
  height: 137px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.R-img .R-img2 .lightHolder {
  width: 130px;
  height: 137px;
  position: relative;
  top: -65px;
  left: 0;
  display: inline-block;
  transform: rotate(180deg);
}

.R-img .R-img4 .lightHolder {
  width: 110px;
  height: 137px;
  position: relative;
  top: -60px;
  left: 0px;
  display: inline-block;
  transform: rotate(180deg);
}

.R-img .R-img2 {
  position: absolute;
  top: 412px;
  right: 267px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.R-img .R-img2 .hover-light {
  transform: rotate(180deg);
  margin-top: -154px;
  opacity: 0;
}

.R-img .R-img3 {
  position: absolute;
  top: 165px;
  right: 152px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 217px;
  overflow: hidden;
}

.R-img .R-img4 {
  position: absolute;
  top: 426px;
  right: 27px;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.R-img .R-img4 .hover-light {
  transform: rotate(180deg);
  margin-top: -152px;
  opacity: 0;
}

.L-up1,
.L-up2,
.L-down1,
.L-down2,
.L-down3,
.R-img1,
.R-img2,
.R-img3,
.R-img4 {
  cursor: pointer;
}

.L-up1:hover .wallSpot,
.L-up2:hover .wallSpot,
.L-down1:hover .wallSpot,
.L-down2:hover .wallSpot,
.L-down3:hover .wallSpot,
.R-img1:hover .wallSpot,
.R-img2:hover .wallSpot,
.R-img3:hover .wallSpot,
.R-img4:hover .wallSpot {
  display: block;
}

/*------------------------------floor1-----------------------------*/
.floor1-2 .img {
  width: 1920px;
  height: 800px;
  background-image: url(/1-2floor.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.floor1-2 {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.floor-1 {
  margin: 0 auto;
}

.floor1 {
  position: relative;
  width: 1920px;
  height: 980px;
}

.floor1 .img-flex-1 {
  width: 1920px;
  height: 980px;
  background-image: url(/1floor/dip1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.floor1 .up-down .up1{
  background: url('img/arr_top.png'); width: 74px; height: 70px; cursor: pointer;
}

.L-box {
  position: absolute;
  top: 74%;
  left: 20%;
}

.L-img {
  position: absolute;
  top: 57%;
  left: 22%;
  cursor: pointer;
}
.L-img1 {
  display: none;
}

.R-box {
  position: absolute;
  top: 74%;
  right: 20%;
}

.R-img-fire {
  position: absolute;
  top: 58.5%;
  right: 22.5%;
  cursor: pointer;
}
.back-fire {
  display: none;
  position: absolute;
  top: -270px;
  bottom: 10px;
  left: 49%;
  transform: translateX(-50%);
  width: 277px;
  height: 442px;
  background: radial-gradient(
    circle,
    rgba(255, 200, 0, 1) 0%,
    rgba(255, 100, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 45%
  );
  border-radius: 50%;
  opacity: 0.6;
}
.back-fire.back-fire2 {
  display: none;
  position: absolute;
  top: -270px;
  bottom: 10px;
  left: 49%;
  transform: translateX(-50%);
  width: 277px;
  height: 442px;
  background: radial-gradient(
    circle,
    rgba(255, 200, 0, 1) 0%,
    rgba(255, 100, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 45%
  );
  border-radius: 50%;
  mix-blend-mode: overlay;
}
.fire-hover {
  display: none;
}

.shadow {
  width: 70px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  bottom: 24%;
  left: 24%;
  filter: blur(3px);
}

.up-down {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow svg {
  background: #fff;
  cursor: pointer;
}

.arrow svg path {
  stroke: aliceblue;
}

/* 불의 기본 스타일 */
.fire {
  display: none;
  position: absolute;
  top: -100px;
  bottom: 10px;
  left: 51%;
  transform: translateX(-50%);
  width: 100px;
  height: 200px;
  background: radial-gradient(
    circle,
    rgba(255, 200, 0, 1) 0%,
    rgba(255, 100, 0, 0.8) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 50%;
  animation: flameFlicker 1.5s infinite ease-in-out,
    moveUp 1.5s infinite ease-in-out;
  z-index: 10;
  filter: blur(20px);
}

/* 불 활성화 */
.R-img-fire:hover .fire {
  display: block;
}

/* 불꽃 깜빡임 효과 */
@keyframes flameFlicker {
  0%,
  100% {
    transform: translateX(-50%) scale(0.3);
    background: radial-gradient(
      circle,
      rgba(255, 200, 0, 1) 0%,
      rgba(255, 80, 0, 0.8) 60%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  50% {
    transform: translateX(-50%, -50%) scale(0.5);
    background: radial-gradient(
      circle,
      rgba(255, 255, 100, 1) 0%,
      rgba(255, 50, 0, 0.8) 60%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

/* 불꽃 위로 움직임 */
@keyframes moveUp {
  0% {
    bottom: 10px;
  }

  50% {
    bottom: 15px;
  }

  100% {
    bottom: 10px;
  }
}

.inner-fire {
  position: absolute;
  width: 30px;
  height: 60px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 100, 1) 0%,
    rgba(255, 150, 0, 0.8) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 50%;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  animation: innerFlame 1s infinite ease-in-out;
}

@keyframes innerFlame {
  0%,
  100% {
    transform: translateX(-50%) scale(1);
  }

  50% {
    transform: translateX(-50%) scale(1.1);
  }
}

/*--------------------------------팝업창-----------------------------------*/
#popupBackground {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#intro {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920px;
  height: 980px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
  text-align: center;
}

.popup-close {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
}

.close {
  width: 40px;
  height: 40px;
  color: #000;
}

/* #closeintro {
  position: sticky;
  top: 3%;
  left: 95%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.close {
  width: 40px;
} */

.intro-h1 {
  font-size: 120px;
  height: 140px;
  margin-bottom: 30px;
  padding-top: 40px;
  font-family: "Cormorant", serif;
  font-weight: 900;
}

.intro-h2 {
  height: 60px;
  font-size: 51px;
  margin-bottom: 210px;
  font-family: "Cormorant", serif;
  font-weight: 900;
}

.intro-p1 {
  margin-top: 100px;
  margin-bottom: 210px;
  font-size: 28px;
  line-height: 1.2;
}

.intro-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 47px;
}

.intro-p2 {
  margin-top: 100px;
  margin-bottom: 240px;
  font-size: 28px;
  line-height: 1.2;
}

#history {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920px;
  height: 980px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
  text-align: center;
  pointer-events: none;
}

#closehistory {
  position: sticky;
  top: 3%;
  left: 95%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.his-h1 {
  font-size: 120px;
  height: 140px;
  margin-bottom: 30px;
  margin-top: 40px;
  font-family: "Cormorant", serif;
  font-weight: 900;
}

.his-h2 {
  height: 60px;
  font-size: 51px;
  margin-bottom: 38px;
  font-family: "Cormorant", serif;
  font-weight: 900;
}

.his-h3 {
  font-size: 34px;
  font-family: "Cormorant", serif;
  font-weight: 900;
}

.his-p1 {
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 210px;
}

.his-p2 {
  font-size: 26px;
  margin-top: 100px;
  margin-bottom: 210px;
  line-height: 1.2;
}

.his-p3 {
  margin-top: 100px;
  margin-bottom: 210px;
  font-size: 26px;
  line-height: 1.2;
}

.his-p4 {
  margin-top: 100px;
  margin-bottom: 210px;
  font-size: 26px;
  line-height: 1.2;
}

.his-p5 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 26px;
  line-height: 1.2;
}

.his-p6 {
  margin-bottom: 210px;
  font-size: 26px;
  line-height: 1.2;
}

.his-p7 {
  margin-top: 100px;
  margin-bottom: 255px;
  font-size: 26px;
  line-height: 1.2;
}

/*-------------swiper--------------*/
.swiper {
  width: 492px;
  height: 851px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 8;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: right;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: auto;
  object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 21px);
}

.swiper-pagination {
  z-index: 99;
}

.swiper-back {
  background: url(/2floor/hover/2floor-hover-up.png);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.swiper-slide[data-aos] {
  transform: none !important; /* Swiper의 transform 속성 무시 */
}

.trans-openbox{
  width: 350px;
        border-bottom: 468px solid #303030;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        position: absolute;
        top: 83.5%;
        left: 50%;
        transform: translate(-50%, -50%) rotateX(180deg);
        transform-origin: top;
        display: none;
        z-index: 9999;
}
.circle{
  width: 100px;
            height: 100px;
            position: absolute;
            top: 238px;
            left: 125px;
            background: #303030;
            border-radius: 100%;
}

.hover-close{
  width: 95px;
                height: 95px;
                position: absolute;
                top: 0;
                right: 25px;
                cursor: pointer;
                z-index: 10;
}

/*-----------mySwiper1-----------*/

.mySwiper1 .swiper-back img{
  position: absolute;
                    top: 60px;
                    left: 60px;
}

.mySwiper1 .swiper-front img{
  z-index: 3;     position: absolute;
                    top: 131px;
                    right: 65px;
}

.slide1-L{
  width: auto;
                            height: auto;
                            position: absolute;
                            top: 125px;
                            left: 140px;
                            z-index: 2;
}

.slide2-L{
  width: auto;
                            height: auto;
                            position: absolute;
                            top: 128px;
                            left: 140px;
}

.slide3-L{
  width: auto;
                            height: auto;
                            position: absolute;
                            top: 135px;
                            left: 140px;
}

.under1-div{
  position: absolute; bottom: 80px;
}

.under2-div{
  position: absolute; bottom: 80px;
}

.under3-div{
  position: absolute; bottom: 75px;
}

.swiper-Uname{
  color: #f5d996; font-size: 48px; margin-bottom: 20px;font-family: 'Cormorant', serif;
                        font-weight: 900;
}

.swiper-Uintro{
  color: #fff; font-size: 16px; margin-bottom: 20px; line-height: 1.2;
}

.swiper-Uhis{
  color: #989898; font-size: 14px; margin-top: 20px; line-height: 1.3;
}
.swiper-Uhis2{
  color: #989898; font-size: 13px; margin-top: 20px; line-height: 1.3;
}

/*--------------myswiper2----------*/

.mySwiper2 .swiper-back .img{
  position: absolute;
                    top: 160px;
                    right: 65px;
}

.mySwiper2 .swiper-front img{
  z-index: 3;    position: absolute;
                    top: 395px;
                    left: 60px;
}

.silde-U1{
  width: auto;
                            height: auto;
                            position: absolute;
                            top: 145px;
                            left: 140px;
                            z-index: 2;
}

.silde-U2{
  width: auto;
                            height: auto;
                            position: absolute;
                            top: 140px;
                            left: 140px;
}

.up1-div{
  position: absolute; bottom: 80px;
}

.up2-div{
  position: absolute; bottom: 65px;
}

.swiper-Pname{
  color: #f5d996; font-size: 48px; margin-bottom: 20px;font-family: 'Cormorant', serif;
                        font-weight: 900;
}

.swiper-Pname2{
  color: #f5d996; font-size: 48px; margin-bottom: 20px; line-height: 1.2;font-family: 'Cormorant', serif;
                        font-weight: 900;
}

.swiper-Pintro{
  color: #fff; font-size: 16px; margin-bottom: 20px; line-height: 1.2;
}

.swiper-Phis{
  color: #989898; font-size: 14px; margin-top: 20px; line-height: 1.3;
}

/*--------------------myswiper3---------------*/

.mySwiper3 .swiper-back img{
  position: absolute;
                    top: 210px;
                    right: 80px;
}

.mySwiper3 .swiper-front img{
  z-index: 3;    position: absolute;
                    top: 340px;
                    left: 57px;
}

.silde-R1{
  width: auto;
                            height: auto;
                            position: absolute;
                            top: 130px;
                            left: 140px;
                            z-index: 2;
}

.silde-R2{
  width: auto;
                            height: auto;
                            position: absolute;
                            top: 130px;
                            left: 140px;
}

.silde-R3{
  width: auto;
                            height: auto;
                            position: absolute;
                            top: 130px;
                            left: 140px;
}

.silde-R4{
  width: auto;
                            height: auto;
                            position: absolute;
                            top: 130px;
                            left: 140px;
}

.R-div{position: absolute; bottom: 70px;}

.swiper-Rname1{color: #f5d996; font-size: 48px; margin-bottom: 20px;font-family: 'Cormorant', serif;
  font-weight: 900;}
.swiper-Rname2{color: #f5d996; font-size: 48px; margin-bottom: 20px; line-height: 1.2;font-family: 'Cormorant', serif;
  font-weight: 900;}
.swiper-Rname3{color: #f5d996; font-size: 48px; margin-bottom: 20px; line-height: 1.2;font-family: 'Cormorant', serif;
  font-weight: 900;}
.swiper-Rname4{color: #f5d996; font-size: 48px; margin-bottom: 20px; line-height: 1.2;font-family: 'Cormorant', serif;
  font-weight: 900;}

.swiper-Rintro{color: #fff; font-size: 16px; margin-bottom: 20px; line-height: 1.2;}

.swiper-Rhis1{color: #989898; font-size: 14px; margin-top: 20px; line-height: 1.3;}
.swiper-Rhis2{color: #989898; font-size: 13px; margin-top: 20px; line-height: 1.3;}







/* ------------------------Loding------------------------- */
.water-fill {
  animation: wave 1.5s infinite linear, fill-up 7s ease-out alternate 1;
}

.loding-number {
  font-family: "Cormorant", serif;
  font-weight: 900;
}

@keyframes wave {
  0% {
    x: -400px;
  }
  100% {
    x: 0;
  }
}

@keyframes fill-up {
  0% {
    height: 0px;
    y: 300px;
  }

  100% {
    height: 400px;
    y: -50px;
  }
}

.Loding{
  background: url(/Loding/Loding-back.jpg); width: 100%; height: 100%;    position: fixed;
    z-index: 3000;display: flex;
    align-items: center;
    justify-content: center;
}

.Loding-center{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Loding-bottle{
  width: 145px; height: 240px; overflow: hidden;
            position: relative;
            z-index: 2000;
}

.loding-num{
  position: absolute;
            top: 95px;
            left: 30px;
            z-index: 10;
}

.loding-number{
  position: absolute;
                font-weight: bold;
                font-size: 32px;
                color: white;
                top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading{
  position: absolute;
                top: 75px;
                left: 8px;
}

/*---------------startpage-----------*/
.startpage{
  width: 100%; height: 100%; position: fixed; z-index: 2000; display: none;
}

#animatedBackground{
  width: 100%;
            height: 100vh;
            position: relative;
            overflow: hidden;
}

#startimg{
  position: absolute;
                left: 50%;
                bottom: -61%;
                transform: translate(-50%);
                width: 2120px;
                height: 1580px;
                min-width: 2120px;
                min-height: 1580px;
}

.door{
  display: flex;
                position: absolute;
                left:50%;
                bottom: -49%;
                z-index: 2002;
                width: 326px;
                height: 462px;
                transform:translateX(-50%);
}

.gradaition{
  position: absolute;
            top: 65%;
            left: 50%;
            z-index:2003;
            transform: translate(-50%, -50%);
            background: radial-gradient(circle, rgba(0, 0, 255, 0.8) 20%, rgba(0, 0, 0, 0) 70%);
            border-radius: 50%;
            width: 500px;
            height: 500px;
}

.gradaition-center{
  position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: #fff;
}
.gradaition-p{
  font-size: 111.5px;
                    margin-bottom: 20px;
}

.gradaition-p1{
  font-size: 83px;
                    margin-bottom: 40px;
}

.startbtn{
  font-size: 16px; padding: 15px 17px; border-radius: 5px; color: #000; cursor: pointer;display: inline-block;background:#fff;
}

/*-------------------3popup-----------------*/

#floor3-pop-back1{
  display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
}

.close-div{
  width: 1100px;
            height: 620px;
            position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#floor3-close1{
  width: 90px;
                height: 90px;
                position: absolute;
                top: -42px;
                right: 5px;
                cursor: pointer;
                z-index: 1010;
}

.street{
  width: 1000px;
                height: 615px;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1000;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 80px;
                backdrop-filter: blur(50px);
}

.street img{
  border-radius: 40px 0 0 40px;
}
.street-div{
  position: absolute;
                    top: 100px;
                    right: 60px;
}
.street-p1{color: #f5d996; font-size: 40px; margin-bottom: 15px;font-family: 'Cormorant', serif;
  font-weight: 900;}
.street-p2{color: #ffff; font-size: 24px; margin-bottom: 45px; line-height: 1.2;}
.street-p3{color: #c9d0c8; font-size: 18px; margin-bottom: 72px; line-height: 1.2;}
.street-p4{color: #3dc747; font-size: 18px; margin-bottom: 72px; line-height: 1.2;}

#floor3-pop-back2{
  display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
}

#floor3-close2{
  width: 90px;
            height: 90px;
            position: absolute;
            top: -42px;
            right: 5px;
            cursor: pointer;
            z-index: 1010;
}

.holywater{
  width: 1000px;
            height: 615px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            display: flex;
            backdrop-filter: blur(50px);border-radius: 40px;
            overflow: hidden;
}

.holywater img{
  border-radius: 40px 0 0 40px;
}

.holy-div{
  position: absolute;
                top: 100px;
                right: 60px;
}

.holy-p1{color: #f5d996; font-size: 40px; margin-bottom: 15px;font-family: 'Cormorant', serif;
  font-weight: 900;}
.holy-p2{color: #ffff; font-size: 24px; margin-bottom: 45px; line-height: 1.2;}
.holy-p3{color: #c9d0c8; font-size: 18px; margin-bottom: 72px; line-height: 1.2;}
.holy-p4{color: #3dc747; font-size: 18px; margin-bottom: 72px; line-height: 1.2;}