body {
    height: 100%;
}
/*-----------------------------floor2----------------------------------*/
.floor2 .back-img2 {
    width: 100%;
    height: 980px;
    background-image: url(/2floor/dip2.png);
    background-repeat: repeat;
    background-position: center bottom;
}
.floor2 .img-flex-2{
    width: 100%;
    height: 100%;
    position: relative;
}
.floor2 .L-up{
    position: absolute;
    top: 200px;
    left: 110px;
    display: flex;
    gap: 50px;
}
.L-down .L-down1{
    position: absolute;
    top: 500px;
    left: 50px;
}
/*------------------------------floor1-----------------------------*/
.floor1-2{
    width: 100%;
    height: 800px;
    background-image: url(/1-2floor.png);
    background-repeat: repeat;
    background-position: center bottom;
}
.floor1 .img-flex-1 {
    width: 100%;
    height: 100%;
    position: relative;
}

.floor1 .back-img {
    width: 100%;
    height: 980px;
    background-image: url(/1floor/dip1.png);
    background-repeat: repeat;
    background-position: center bottom;
}

.L-box {
    position: absolute;
    top: 74%;
    left: 20%;
}

.L-img {
    position: absolute;
    top: 59%;
    left: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.L-img1{
    margin: -20px;
}
.R-box {
    position: absolute;
    top: 74%;
    right: 20%;
}

.R-img-hover {
    position: absolute;
    top: 33.5%;
    right: 17%;
}

.hover-fire {
    display: none;
}

.shadow {
    width: 115px;
    height: 48px;
}

.up-down {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow svg {
    background: #fff;
    cursor: pointer;
}

.arrow svg path {
    stroke: aliceblue;
}